<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/hamburgers.css">
    <link rel="stylesheet" href="./assets/style.css">
</head>

<body>

    <header class="header">
        <div class="header__menu header__menu_margin header__menu_d-none">
            <a href=""><i class="fab fa-bitcoin"></i></a>
        </div>
        <nav class="nav nav_small-size">
            <a href="" class="nav__link nav__link_margin nav__link_size link">Home</a>
            <a href="" class="nav__link nav__link_margin nav__link_size link">Home</a>
            <a href="" class="nav__link nav__link_margin nav__link_size link">Home</a>
            <a href="" class="nav__link nav__link_margin nav__link_size link">Home</a>
        </nav>
    </header>

    <div class="dropdown-menu dropdown-menu_padding">
        <div id="myDropdown" class="dropdown-content">
            <div class="dropdown-content__menu">
                <ul class="block">
                    <li class="block__elem1"><a href="" class="link">link</a></li>
                    <li class="block__elem2"><a href="" class="link">link</a></li>
                    <li class="block__elem3"><a href="" class="link">link</a></li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            <button onclick="togglemenu()" class="hamburger hamburger--slider" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <div class="main-content__arcticle main-content__arcticle_margin">
                <h1 class="h1 h1-padding">Lorem ipsum dolor sit amet.</h1>
                <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ipsum quaerat officia,
                    dolor
                    doloremque esse, earum perferendis aliquid facilis assumenda vel quod maxime officiis unde
                    veritatis harum maiores fugiat nam asperiores tempore? Culpa voluptates necessitatibus quisquam aut
                    eveniet et molestias velit aspernatur? Nesciunt, ut neque. Qui optio enim nemo ratione recusandae
                    temporibus numquam. Architecto rem inventore excepturi vel possimus qudoloremque esse, earum
                    perferendis aliquid facilis assumenda vel quod maxime officiis
                    architecto libero veniam nam. Necessitatibusibusdam assumenda laborum
                    dicta molestias tempora cumque
                    architecto libero veniam nam. Necessitatibus tempore deleniti ducimus eligendi doloribus suscipit
                    nesciunt voluptatem!</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer__menu">
            <ul class="footer__menu_flex">
                <li class="footer__item_margin footer__item_style"><a href="" class="link">Home</a></li>
                <li class="footer__item_margin footer__item_style"><a href="" class="link">Home</a></li>
                <li class="footer__item_margin footer__item_style"><a href="" class="link">Home</a></li>
            </ul>
        </div>
    </footer>

    <!-- SCRIPTS -->

    <script src="./assets/main.js"></script>

</body>

</html>